:root {
  --darkblue: #28354e;
  --darkblue2: #3a4a67;
  --blue: #5177ff;
}

main.about {
  width: 85%;
  max-width: 1500px;
  margin: 1rem auto;
}

main.about section {
  margin-bottom: 2rem;
}

section.about p {
  font-weight: 400;
  text-align: justify;
  text-indent: 2rem;
}

main.about .title {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 1rem;
}

section.certificates .title .icon {
  position: absolute;
  transform: scaleX(-1);
  top: 25px;
  font-size: 40px;
  right: -70px;
}

.certificates-container {
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
  margin-top: 2rem;
}

.certificate .img-container {
  border-radius: 10px;
  background: var(--darkblue2);
  padding: 0.7rem;
  width: 100%;
  height: 230px;
}

.certificate .img-container img {
  border-radius: calc(0.7rem - 10px);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.certificate {
  position: relative;
}

.certificate .certificate-tag {
  font-size: 14px;
  position: absolute;
  bottom: 20px;
  margin-top: 1rem;
  right: 0;
  font-weight: 500;
  border-radius: 10px;
  padding: 0.6rem 0.8rem;
}

.certificate .certificate-title {
  font-size: 18px;
  text-align: center;
}

@media screen and (max-width: 870px) {
  .certificates-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 730px) {
  .certificates-container {
    grid-template-columns: 1fr;
    width: 80%;
    margin: 10% auto 0 auto;
  }
  main.about .title {
    font-size: 7vw;
  }
  section.certificates .title .icon {
    display: none;
  }
}
