:root {
    --darkblue: #28354e;
    --darkblue2: #3a4a67;
    --blue: #5177ff;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--blue);
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--blue);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--blue);
}

main.contact {
    max-width: 1200px;
    width: 75%;
    margin: 1rem auto;
}

main.contact .title {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 3rem;
}

.contact-container {
    justify-content: space-between;
    align-items: center;
}

.contact-form input,
.contact-form textarea {
    font-family: Rubik;
    margin: 0.5rem 0 1.5rem 0;
    padding: 0.7rem 1rem;
    border-radius: 10px;
    font-size: 16px;
    width: 470px;
    background: var(--darkblue2);
    color: white;
}

.contact-form textarea {
    resize: none;
    height: 130px;
}

.contact-info h1 {
    font-size: 70px;
}

button.send-message {
    font-size: 16px;
    font-family: Rubik;
    width: 100%;
    padding: 0.7rem;
    border-radius: 10px;
}

.contact-info .contact-details {
    margin-top: 2rem;
}

.contact-info .detail {
    font-size: 16px;
    align-items: center;
    margin-bottom: 1rem;
}

.contact-info .detail p {
    background: #3a4a67;
    width: 250px;
    border-radius: 10px;
    padding: 0.7rem;
}

.contact-info .detail .icon {
    font-size: 27px;
    margin-right: 0.8rem;
}