@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
    --darkblue: #28354e;
    --darkblue2: #3a4a67;
    --blue: #5177ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    /* outline: 1px solid red; */
}

a {
    text-decoration: none;
    color: inherit;
}

input,
textarea {
    outline: none;
    border: none;
}

.btn {
    cursor: pointer;
    outline: none;
    border: none;
}

.btn-blue {
    background: var(--blue);
    color: white;
    padding: 0.5rem 1rem;
}

.flex {
    display: flex;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    font-family: Rubik, sans-serif;
    background: var(--darkblue);
    color: white;
}

.logo {
    font-family: Righteous, sans-serif;
}

nav.navigation {
    z-index: 99;
    background: var(--darkblue);
    position: sticky;
    top: 0;
    margin-bottom: 3rem;
}

.main-navigation {
    background: var(--darkblue);
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    height: 100px;
    justify-content: center;
    align-items: center;
}

.burger input {
    display: none;
}

.burger label {
    cursor: pointer;
}

ul.navigation-links {
    display: inline-flex;
    list-style: none;
    transition: all 0.5s;
}

ul.navigation-links li {
    font-size: 20px;
    margin: 0 2.5rem;
    color: white;
}

ul.navigation-links li a {
    text-decoration: none;
    color: white;
}

.logo-space {
    margin: 0 7rem;
}

.logo {
    position: absolute;
    /* top: 1rem; */
    left: 50%;
    /* font-size: 45px; */
    font-size: clamp(2.5rem, 7vw, 2.5rem);
    /* margin-top: -20px; */
    width: 120px;
    margin-left: -60px;
}

footer {
    font-size: 14px;
    background: #1a2334;
    text-align: center;
    padding: 0.5rem;
}

.burger {
    display: none;
    font-size: 24px;
    position: absolute;
    left: 1rem;
    top: 20px;
}

@media screen and (max-width: 1000px) {
    .logo {}
    .logo-space {
        display: none;
    }
    ul.navigation-links {
        padding-top: 2rem;
        position: absolute;
        display: block;
        z-index: -2;
        top: 100px;
        width: 40%;
        left: -120%;
        height: 100vh;
        background: var(--darkblue);
        box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    }
    ul.navigation-links li {
        margin-bottom: 4rem;
    }
    nav.navigation .burger {
        display: block;
    }
}

@media screen and (max-width: 1000px) {
    ul.navigation-links {
        width: 100%;
    }
}